* {
    margin: 0;
    padding: 0;
}

.fea-pd img:hover {
    z-index: -2;
}

footer {
    margin-top: -5px;
}

a {
    text-decoration: none;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.container {
    max-width: 1366px;
    min-height: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px 0px grey;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.content {
    padding: 120px 98px 0px 98px;
}

.slider {
    max-height: 800px;
    position: relative;
    background-color: #f5f5f5;
    background-image: url(/static/img/slider-img.jpg);
}

.slider-head {
    background-position: 0px 540px;
    max-height: 800px;
    position: relative;
    background-color: #f5f5f5;
}
.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    list-style-type: none;
    margin-top: 57px;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.logo {
    margin-top: 63px;
}

.menu-link {
    display: block;
    padding: 10px 13px;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-link:hover {
    color: #212121;
}

.search {
    align-items: center;
    display: flex;
    margin-left: 80px;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    border-bottom: 3px solid #212121;
}

.slider-h3 {
    color: #43a047;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    color: #43a047;
    letter-spacing: 1.8px;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -3.2px;
}

.slider-text {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    width: 330px;
    margin-bottom: 32px;
    margin-top: 10px;
}

.button {
    color: #212121;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    text-decoration: none;
    height: 45px;
    line-height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    display: inline-block;
    padding-left: 31px;
    padding-right: 40px;
}

.button span {
    line-height: 0.1;
    position: absolute;
    height: 10px;
    margin-top: 18px;
    font-size: 34px;
    margin-left: 10px;
}

.button:hover {
    background-color: aliceblue;
}

.header-text {
    margin-top: 20%;
    margin-bottom: 20%;
}

.pagination {
    display: flex;
    position: absolute;
    width: 80%;
    justify-content: center;
    bottom: 19px;
    align-items: center;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #c7c7c7;
    display: block;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.circle-active {
    background-color: #212121;
    width: 40px;
    height: 40px;
}





.fea-links a:first-child {
    height: 27px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding: 0px 31px 19px 3px;
    border-bottom: 3px solid;
}

.fea-links a {
    color: #6c6c6c;
    border-bottom: 1px solid;
    padding: 0px 22px 21px 3px;
    font-size: 36px;
    font-weight: 700;
}

.fea-links a:last-child {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-bottom: 0px;
    padding-right: 0px;
    color: #212121;
    letter-spacing: 3.6px;
    right: 0;
    position: absolute;
    bottom: -14px;
    border-bottom: 0;
}


.fea-products {
    width: 100%;
    margin-top: 53px;
    display: flex;
    justify-content: space-between;
}



.futured {
    height: 500px;
}

.fea-links {
    width: 94%;
    position: relative;
}

.fea-links a span {
    line-height: 0;
    position: absolute;
    height: 10px;
    margin-top: 10px;
    font-size: 34px;
    margin-left: 10px;
}

.fea-links a:hover {
    border-bottom: 3px solid gray;
}

.fea-pd {

    background-color: #ffffff;
    width: 270px;
    height: 270px;
}





.fea-pd-control-a {
    text-align: center;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    line-height: 42px;
    margin-top: 62px;
    font-size: 40px;
    font-weight: 700;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    color: #212121;
}

.fea-pd-control-a:hover {
    background-color: aliceblue;
}

.fea-pd-control {
    width: 270px;
    position: absolute;
    text-align: -webkit-center;
    display: none;
    padding-bottom: 45px;
    border: 1px solid #9c9c9c;
    z-index: -1;
}

.fea-pd:hover > .fea-pd-control {
    display: inline-grid;
    z-index: 2;
    background-color: #ffffffe3;
}

.fea-pd-control p {
    width: 206px;
    font-size: 10px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
}

.fea-pd-title {
    margin-top: 19px;
    margin-bottom: 23px;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
}

.featured-big {
    min-height: 683px;
}

.fea-big-block {
    display: inline-flex;
    margin-left: -2px;
    margin-right: -2px;
    min-width: 50%;
    min-height: 683px;
}

.fea-big-block img {}

.fea-big-text {
    position: absolute;
    padding-left: 3%;
    padding-top: 15%;
}

.fea-big-text .slider-h3 {
    color: #1e88e5;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    /* Text style for "exclusive" */
    color: #1e88e5;
    letter-spacing: 1.8px;
}

.fea-big-text .slider-h2 {
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
}


.treding {
    padding: 71px 0px 0px 98px;
    margin-bottom: 150px;
}

.tren-pd {
    width: 370px;
    height: 370px;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
}
.tren-pd a img {
    width: 100%;
    object-fit: fill;
    height: 100%;
}

.tren-pd:hover {
    outline-color: aliceblue;
    outline: 1px solid gray;
}

.tren-product {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
}

.tred-bord a:first-child {
    border: 0px;
}

.tred-bord a:last-child {
    bottom: 0px;
}

.tred-a {
    height: 27px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding: 0px 31px 19px 3px;
    border-bottom: 3px solid;
    border: none;
}

.slider2 {
    height: 800px;
    position: relative;
    background-image: url(/static/img/slider.png);
    background-position: center;
}

.slider2 .pagination {
    width: 100%;
}

.hot {
    color: #e53935;
}

.sl2-header-text {
    position: absolute;
    top: 0;
    padding-left: 98px;
    padding-top: 287px;
}

.acessuars {
    display: flex;
    min-height: 650px;
}

.acc-big img {
    width: 270px;
    height: 270px;
    margin-left: 25px;
    margin-bottom: 25px;
}

.ac-big {
    position: relative;
    min-width: 45%;
    background-image: url(/static/img/product-1-lg.png);
    background-repeat: no-repeat;
}

.acc-header-text {
    position: absolute;
    top: 0;
    padding-left: 98px;
    padding-top: 287px;
    z-index: 10;
}

.exclus {
    color: #1e88e5;
}

.text-wu-tf {
    text-transform: none;
}

.mob-text-block {
    width: 407px;
}

.mob-text-block {
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    position: absolute;
    top: 0;
    padding: 125px 0px 38px 98px;
    width: 500px;
}


.block-title {

    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.block-head-text p {

    color: #212121;
    margin-bottom: 23px;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
}

.store-link a img {
    width: 135px;
    height: 40px;
    margin-right: 10px;
}

.store-link {
    margin-top: 30px;
}

.mobile {
    position: relative;
    background-image: url(/static/img/back-img.png);
    background-position: center;
    min-height: 515px;
}

.footer-links {
    background-color: #f7f7f7;
    padding-left: 98px;
    padding-right: 98px;
    padding-top: 128px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 25%;
    position: relative;
}

.col input {
    width: 100%;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
}

.col a {
    color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "Architect" */
    letter-spacing: 0.7px;
}

.col a:hover {
    border-bottom: 1px solid gray;
}

.col p {
    color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 15px;
    width: 80%;
}

.social-link {
    width: 100%;
    margin-top: 67px;
    padding-bottom: 38px;
    display: -webkit-inline-box;
}

.col-2 {}

.col-3 {
    width: 40%;
    text-align: -webkit-center;
}

.col-3 a i {
    width: 28px;
    background-color: #6c6c6c;
    border-radius: 50%;
    height: 28px;
    line-height: 30px;
    color: white;
}

.col-3 a i:hover {

    color: mediumorchid;
}


.block-header h3 {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    /* Text style for "C, ontact" */
    letter-spacing: 1.8px;
}

.copy {
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "©,  Copyri" */
    letter-spacing: 0.6px;
}

.terms a {
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    /* Text style for "T, erms &" */
    letter-spacing: 0.6px;
}

.terms a:hover {
    border-bottom: 1px solid gray;

}

.w-w {
    width: 100%;
}

.block-header {
    height: 13px;
    padding-bottom: 24px;
}

.link-w {
    display: grid;
}

.fa-telegram-plane {
    width: 21px;
    height: 17px;
    color: #6c6c6c;
    font-family: icomoon;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
}

.subcrib {
    position: absolute;
    margin-top: -37px;
    right: 15px;
}

.fa-telegram-plane:hover {
    color: aquamarine;
    border: none;
}


@media screen and (max-width: 868px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}

}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}


.menu-list {
    text-decoration: none;
}

.menu-detail {
    height: 71px;
    min-width: 100%;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.menu-detail ul {
    display: flex;
    justify-content: space-between;
}

.menu-detail ul li a {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121a3;
    letter-spacing: 1.8px;
    letter-spacing: 1.8px;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-list:first-child a {
    color: #212121;
}

.menu-detail ul li a:hover {
    color: #212121;
    border-bottom: 1px solid gray;
}



.menu-detail li {
    list-style: none;
}

.detail {
    padding: 71px 0px 0px 98px;
    display: -webkit-inline-box;
}

.detail-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

.detail-info p {
    margin-top: 49px;
}

.detail-info h2 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    padding-top: 47px;
}

.detail-info h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 48.02px;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
}


.price {
    color: #212121;
    font-family: Gotham;
    font-size: 36px;
    font-weight: 300;
    line-height: 48.02px;
    /* Text style for "" */
    font-size: 48px;
    /* Text style for "36.7" */
    font-size: 72px;
    text-transform: uppercase;
    margin-bottom: 31px;
    margin-top: 36px;
}

.price span {
    font-size: 46px;
    padding-right: 20px;
}

.redbtn {
    width: 100%;
    height: 71px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    vertical-align: middle;
    line-height: 70px;
    color: white;
}

.thumb {
    display: flex;
    justify-content: center;
}
.thumb a {
    margin-right: 2px;
}
.thumb a:hover {
    outline: 1px solid gray;
}

.thumb a::after:hover {
    background-color: aqua;
}

.fea-2img {
    background-image: url(/static/img/promo-img1.png);
}

.fea-3img {
    background-image: url(/static/img/promo-img.png);
    background-position: center;
}

.pd1 {
    background-image: url(/static/img/product-2-sm.png);
}

.pd2 {
    background-image: url(/static/img/product-3-sm.png);
}

.pd3 {
    background-image: url(/static/img/product-4-sm.png);
}

.pd4 {
    background-image: url(/static/img/product-5-sm.png);
}

.acc-big {
    min-width: 52%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-right: 40px;
}

.pd-size {
    min-width: 270px;
    background-size: contain;
    max-height: 270px;
    background-position: center;
}

.pd-size:hover {
    background-color: aqua;
}

.fea-big-text2 {
    position: absolute;
    padding-left: 10%;
    padding-top: 30%;
}

.one-fa {

    padding-left: 5%;
    padding-top: 30%;
}

.fea-links-pd ul {
    display: inline-flex;
    list-style: none;
}

.fea-links-pd ul li a {
    color: #6c6c6c;
    padding: 0px 22px 21px 3px;
    font-size: 23px;
    font-weight: 400;
}

.fea-links-pd ul li a:hover {
    border-bottom: 1px solid;
}

.fea-links-pd ul li:first-child a {
    padding-bottom: 20px;
    border-bottom: 2px solid;
    font-weight: 600;
}

.pd-head {
    height: 200px;
}

.pd-head h1 {
    position: absolute;
    bottom: 0;
    padding-left: 95px;
    padding-bottom: 30px;
    font-weight: 100;
    font-size: -webkit-xxx-large;
}

.contacts {
    height: 500px;
    position: relative;
    margin-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
}

.row {
    display: flex;
    justify-content: space-between;

}

.cont-block {
    width: 250px;
    border: 1px solid black;
    padding: 5%;
    margin-right: 1%;
    text-align: center;
    line-height: 2;
}

.cont-block i {
    font-size: 54px;
}

.pea {
    line-height: 1;
    margin-bottom: 15px;
}

.login {
    min-height: 400px;
    text-align: -webkit-center;
    width: 250px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
}

.user-name {
    margin-left: -70px;
    margin-top: -15px;
    text-decoration: underline;
}