{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
{{ page_title|title }}
{% endblock %}

{% block container %}
<div class="slider-head">
    <div class="header  padding-site">
        <a class="logo" href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
        <div>
            {% include 'mainapp/includes/inc__menu_top.html' %}
        </div>

    </div>
    <div class="pd-head">
        <h1>Вход пользователя</h1>
    </div>
</div>
<div class="login">
    {% if user %}
    <h3>Поздравляем!</h3>
    <br>
    <h4>Пользователь {{user.username}} подтвержден.</h4>
    {% else %}
    <h3>Верификация не пройдена.</h3>
    {% endif %}
    <br>
    <button class="btn btn-round form-control">
        <a href="{% url 'main:main' %}" class="">
            на главную
        </a>
    </button>
</div>
{% endblock %}
