{% extends 'mainapp/base.html' %}
{% load static %}
{% block title %}
    {{ page_title|title }}
{% endblock %}

    {% block container %}
        <div class="slider-head">
            <div class="header  padding-site">
                <a class="logo" href="/"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                <div>
                    {% include 'mainapp/includes/inc__menu_top.html' %}
                </div>

            </div>
            <div class="pd-head">
                <h1>Contacts</h1>
            </div>
        </div>

            <div class="contacts">
            <div class="row">
                {% if locations %}
                {% for location in locations %}
                <div class="cont-block">
                    <i class="fas fa-map-marker-alt"></i>
                    <h3>{{ location.city }}</h3>
                    <p class="pea"><span>Phone:<br /></span> <strong>{{ location.phone }}</strong></p>
                    <p class="pea"><span>Email:<br /></span><strong>{{ location.email }}</strong></p>
                    <p class="pea"><span>Address:<br /></span>{{ location.address}}</p>
                </div>
                {% endfor %}
                {% else %}
                    <h2>Нечего показать</h2>

                {% endif %}

            </div>

        </div>



    {% endblock %}
