{% extends 'mainapp/base.html' %}
{% load static %}
    {% block container %}
        <div class="slider padding-site">
            <div class="header">
                <a class="logo" href="#"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
                {% include 'mainapp/includes/inc__menu_top.html' %}
            </div>
            <div class="header-text">
                <h3 class="slider-h3">TRENDING</h3>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">Order us<span>&#8250;</span></a>
            </div>
            <div class="pagination">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle-active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
        <div class="futured content">
            <div class="fea-links">
                <a href="#">Featured</a>
                <a href="#">New</a>
                <a href="/products/">Explore all<span>&#8250;</span></a>
            </div>

            <div class="fea-products">
                <div class="fea-pd">
                    <div class="fea-pd-control">
                        <a href="/detail/" class="fea-pd-control-a">&#8250;</a>
                        <h3 class="fea-pd-title">Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure</p>

                    </div>
                    <img src="{% static 'img/product-2.png' %}" alt="" class="" id="">

                </div>

                <div class="fea-pd">
                    <div class="fea-pd-control">
                        <a href="/detail/" class="fea-pd-control-a">&#8250;</a>
                        <h3 class="fea-pd-title">Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure</p>

                    </div>
                    <img src="{% static 'img/product-2.png' %}" alt="" class="" id="">
                </div>
                <div class="fea-pd">
                    <div class="fea-pd-control">
                        <a href="/detail/" class="fea-pd-control-a">&#8250;</a>
                        <h3 class="fea-pd-title">Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure</p>

                    </div>
                    <img src="{% static 'img/product-3.png' %}" alt="" class="" id="">
                </div>
                <div class="fea-pd">
                    <div class="fea-pd-control">
                        <a href="/detail/" class="fea-pd-control-a">&#8250;</a>
                        <h3 class="fea-pd-title">Fishnet Chair</h3>
                        <p>Seat and back with upholstery made of cold cure</p>

                    </div>
                    <img src="{% static 'img/product-4.png' %}" alt="" class="" id="">
                </div>

            </div>
        </div>
        <div class="featured-big">
            <div class="fea-big-block fea-2img">

                <div class="fea-big-text">
                    <h3 class="slider-h3">EXCLUSIVE</h3>
                    <h2 class="slider-h2 text-wu-tf">Fishnet Chair</h2>
                    <p class="slider-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    <a href="#" class="button">Order us<span>&#8250;</span></a>
                </div>
            </div>
            <div class="fea-big-block fea-3img">

                <div class="fea-big-text">
                    <h3 class="slider-h3">EXCLUSIVE</h3>
                    <h2 class="slider-h2 text-wu-tf">Fishnet Chair</h2>
                    <p class="slider-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    <a href="#" class="button">Order us<span>&#8250;</span></a>
                </div>
            </div>

        </div>
        <div class="treding content">
            <div class="fea-links tred-bord">
                <p class="tred-a">Trending Products</p>
                <a href="/products/">Explore all<span>&#8250;</span></a>
            </div>

            <div class="tren-product">
                <div class="tren-pd">
                   <a href="/detail/">
                    <img src="{% static 'img/product-11.png' %}" alt="" class="" id=""></a>
                </div>
                <div class="tren-pd">
                   <a href="/detail/">
                       <img src="{% static 'img/product-41.png' %}" alt="" class="" id=""></a>
                </div>
                <div class="tren-pd">
                    <a href="/detail/">
                        <img src="{% static 'img/product-21.png' %}" alt="" class="" id=""></a>
                </div>
                <div class="tren-pd">
                    <a href="/detail/">
                        <img src="{% static 'img/product-5.png' %}" alt="" class="" id=""></a>
                </div>
                <div class="tren-pd">
                    <a href="/detail/">
                        <img src="{% static 'img/product-31.png' %}" alt="" class="" id=""></a>
                </div>
                <div class="tren-pd">
                   <a href="/detail/">
                       <img src="{% static 'img/product-6.png' %}" alt="" class="" id=""></a>
                </div>

            </div>
        </div>
        <div class="slider2">

            <div class="sl2-header-text">
                <h3 class="slider-h3 hot">HOT DEAL</h3>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">Order us<span>&#8250;</span></a>
            </div>
            <div class="pagination">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle-active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
        <div class="acessuars content">
            <div class="ac-big">

                <div class="fea-big-text one-fa">
                    <h3 class="slider-h3">Exclusive</h3>
                    <h2 class="slider-h2 text-wu-tf">Fishnet Chair</h2>
                    <p class="slider-text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                    <a href="#" class="button">Order us<span>&#8250;</span></a>
                </div>
            </div>
            <div class="acc-big">
                <a href="#" class="pd1 pd-size"></a>
                <a href="#" class="pd2 pd-size"></a>
                <a href="#" class="pd3 pd-size"></a>
                <a href="#" class="pd4 pd-size"></a>
            </div>
        </div>
        <div class="mobile">

            <div class="mob-text-block">
                <div class="block-title">
                    <p>mobile app</p>
                </div>
                <div class="block-head-text">
                    <p>Find. Follow. Favorite.</p>
                </div>
                <p>Save your favorites and share your style.</p>
                <div class="store-link">
                    <a href="#">
                        <img src="{% static 'img/app-store.png' %}" alt=""></a>
                    <a href="#">
                        <img src="{% static 'img/google-play.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    {% endblock %}
