               {% load static %}
                <ul class="menu">
                    <li class="menu-list">
                        <a href="{% url 'main:main' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'main:main' %}menu-link-active {% endif %}">HOME</a></li>
                    <li class="menu-list">
                        <a href="{% url 'main:products' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'products' %}menu-link-active {% endif %}">PRODUCTS</a></li>
                    <li class="menu-list">
                        <a href="{% url 'main:contacts' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'contacts' %}menu-link-active {% endif %}">CONTACT</a></li>

                    <li class="menu-list">
                        {% if user.is_authenticated %}
                            <a href="{% url 'auth:logout' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'logout' %}menu-link-active {% endif %}">выйти</a>
                        {% else %}
                            <a href="{% url 'auth:login' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'login' %}menu-link-active {% endif %}">войти</a>
                        {% endif %}
                    </li>
                    <li class="menu-list user-name ">
                        {% if user.is_authenticated %}
                        <a href="{% url 'auth:update' %}">
                            {{ user.first_name|default:'Пользователь' }}
                            </a>
                        {% endif %}
                    </li>
                    <li class="search">
                        <img src="{% static 'img/search%20(5).svg' %}" alt="search">
                    </li>
                    <li class="search">

                            {% if basket %}
                                <a href="{% url 'basket:index' %}">
                                <i class="fa fa-shopping-cart"></i>
                                    <span>

                                    {{ basket.0.total_cost|floatformat:0 }} $.
                                    ({{ basket.0.total_quantity }}) itm.
                                    </span>
                                </a>
                            {% endif %}
                    </li>
                </ul>
