
                <ul>
                    <li class="{% if request.resolver_match.args.0 == '0' %}
                       menu-list  menu-link-active
                       {% else %}
                       menu-list
                    {% endif %}">
                        <a href="{% url 'main:catalog' 0 %}">ALL</a>
                    </li>
                    {% for category in categories %}

                    <li class="{% if request.resolver_match.args.0|add:0 == category.pk %}
                       menu-list  menu-link-active
                       {% else %}
                       menu-list
                    {% endif %}">
                        <a href="{% url 'main:catalog' category.pk %}">{{ category.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
