               {% load static %}
                <ul class="menu">
                    <li class="menu-list">
                        <a href="{% url 'main:main' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'main:main' %}menu-link-active {% endif %}">HOME</a></li>
                    <li class="menu-list">
                        <a href="{% url 'main:products' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'products' %}menu-link-active {% endif %}">PRODUCTS</a></li>
                    <li class="menu-list">
                        <a href="#" class="menu-link">HISTORY</a></li>
                    <li class="menu-list">
                        <a href="#" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list">
                        <a href="{% url 'main:contacts' %}" class="menu-link
                        {% if request.resolver_match.url_name == 'contacts' %}menu-link-active {% endif %}">CONTACT</a></li>
                    <li class="search">
                        <img src="{% static 'img/search%20(5).svg' %}" alt="search"></li>
                </ul>